# These are the admin credentials that proxysql uses to connect to the admin interface, including clustering.
admin_credentials = "admin:{{ .admin_password }};radmin:{{ .radmin_password }};cluster:{{ .cluster_password }};datadog:{{ .datadog_password }}"